/* fonts */

@font-face {
  src:
    url("../fonts/JetBrainsMonoExtraBold.woff2"),
    url("../fonts/JetBrainsMonoExtraBold.woff");
  font-family: "JetBrains Mono";
  font-weight: 800;
}

@font-face {
  src:
    url("../fonts/JetBrainsMonoRegular.woff2"),
    url("../fonts/JetBrainsMonoRegular.woff");
  font-family: "JetBrains Mono";
  font-weight: 400;
}

/* other */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 280px;
  min-height: 100%;
  font-size: 16px;
  color: #fff;
  background-color: #151515;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header */

.header {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #303030;
}

.header__title {
  display: block;
  margin: 16px 0;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 800;
  text-align: center;
}

/* main */

.main {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #303030;
}

/* footer */

.footer {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #303030;
}

.footer__title {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 800;
  text-align: center;
}